.image1{
    width: 30px;
    height: 30px;
}
.image{
    width: 150px;
    height: 50px;
    background-color: white;
}
.container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.location{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: rgb(55,52,53);
}
.name1{
    color: pink;
    font-weight: bold;
}
.name1:hover{
    color: white;
    font-weight: bold;
}
.name2{
    color: pink;
    font-weight: bold;
}
.name2:hover{
    color: white;
    font-weight: bold;
}
.name3{
    color: pink;
    font-weight: bold;
}
.name3:hover{
    color: white;
    font-weight: bold;
}
.but1{
    width: 150px;
    height: 30px;
    border-radius: 20px;
    border: 2px solid white;
    background-color: rgb(55,52,53);
    color: white;
}
.but1:hover{
    background-color: white;
    color: black;
}
.but2{
    width: 150px;
    height: 30px;
    border-radius: 20px;
    border: 2px solid white;
    background-color: rgb(55,52,53);
    color: white;
}
.but2:hover{
    background-color: white;
    color: black;
}
.but3{
    width: 150px;
    height: 30px;
    border-radius: 20px;
    border: 2px solid white;
    background-color: rgb(55,52,53);
    color: white;
}
.but3:hover{
    background-color: white;
    color: black;
}
.list{
    background-color:  rgb(55,52,53);
    
}
.list:hover{
    background-color: white;
}
.search{
    background-color:  rgb(55,52,53);
    
}
.search:hover{
    background-color: white;
}
.account{
    background-color:  rgb(55,52,53);
    
}
.account:hover{
    background-color: white;
}
.location{
    background-color:  rgb(55,52,53);
    
}
.location:hover{
    background-color: white;
}
